body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 720px;
    /* width: 350px;
    height: 100vh; */
    color: #333; /* Default text color */
    background-color: #fcffea;
    align-items: center;
    justify-content: center;
  }

  #collage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }
  
h2{
    font-weight:normal;
    text-align:center;
}
h3{
    font-weight:normal;
    text-align:center;
}